<form class="form-inline">
  <div class="form-group" style="width: 100%;">
    <input type="search" class="form-control col-md-12" placeholder="Enter the search" [formControl]="searchField" />
  </div>
  <!--<button class="btn btn-primary col-md-2" (click)="doSearch(search.value)">Search</button>-->
</form>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let t of results | async">
    <img src="{{ t.thumbnail }}" alt="">
    <a targer="_blank" href="{{t.link}}">{{ t.name }}</a>    
  </li>
</ul>